.select-list {
  overflow: auto;
  max-height: 448px;
}

.select-list__item {
  padding-inline: 12px;
  min-height: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
}

.select-list__item {
  border-bottom: 1px solid var(--color-border);
  user-select: none;
}

.select-list__item:first-child {
  border-top: 1px solid var(--color-border);
}

.select-list__item:hover {
  background: var(--color-grey-light);
}

.select-list__item[aria-selected='true'] {
  background: var(--color-grey);
}
