.base-input {
  padding-inline: 12px;
  min-height: 32px;
  border: 1px solid var(--color-border);
  border-radius: var(--radius);

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.base-input:disabled {
  opacity: 0.4;
}

.base-input:user-invalid {
  outline-color: var(--color-red);
  border: 2px solid var(--color-red);
}
