.base-input {
  padding-inline: 12px;
  min-height: 32px;
  border: 1px solid var(--color-border);
  border-radius: var(--radius);

  font-family: inherit;
}

.base-input:disabled {
  opacity: 0.2;
}
